<<<<<<< HEAD
* {
    margin: 0;
    /* overflow-x: hidden; */
}

.App {
    background-color: rgb(167, 239, 167);
    padding: 20px 0px;
}
=======
body {
  background: url("../public/aerial.jpg") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
>>>>>>> 34b56521112aaf13c1cfdd3ead2304f313a1025d
