.from-device {
  height: 500px;
  width: 600px;
  margin-top: -440px;
  padding-top: 10%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(155, 218, 166, 0.904);
  z-index: 100;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.choose-file {
  background-color: #14ac35;
  color: aliceblue;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 100;
}

.upload-btn {
  margin-left: 50px;
  background-color: #14ac35;
  color: aliceblue;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 100;
}

.choose-file:hover {
  background-color: #118029;
}

.upload-btn:hover {
  background-color: #118029;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1vw;
  padding-top: 0.1vw;
}

#blah {
  position: absolute;
  top: 15%;
  padding: 1vw;
  background-color: white;
  border: 4px solid #14ac35;
  width: 150px;
  height: 150px;
  left: 100;
}

@media (max-width: 640px) {
  .from-device {
    width: 90vw;
  }

  #imgInp {
    max-width: 200px;
    margin: 20px auto;
    padding: 5px;
    margin-top: 20px;
  }

  .upload-btn {
    display: block;
    margin: 0;
    margin: 0 auto;
  }

  #blah {
    margin-bottom: 20px !important;
  }

}